@charset "utf-8";
*{margin: 0;padding: 0;  cursor: none;}
ul,ol {list-style: none;}
img{vertical-align: bottom;}
a {text-decoration: none;color: black;}


/* 마우스 커서 아이콘 */

:root {--green: #62Ba9B;}

body {margin: 0;}

.small {z-index: 99999;
height: 10px;
width: 10px;
background-color: var(--green);
border-radius: 10px;
filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));
position: fixed;
pointer-events: none;
transform: translate(-50%, -50%);
transition: height 0.2s, width 0.2s;}

.big {z-index: 99999;
height: 50px;
width: 50px;
border: 3px solid var(--green);
border-radius: 100px;
filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));

position: fixed;
pointer-events: none;
transform: translate(calc(-50%), -50%);
transition: height 0.5s, width 0.5s, filter 0.5s;}

.hover__big {
height: 100px;
width: 100px;
filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green)) drop-shadow(0 0 40px var(--green));
transition: height 0.5s, width 0.5s, filter 0.5s;}

.hover__small {
height: 8px;
width: 8px;
transition: height 0.2s, width 0.2s;}



/* sec1 */
.sec1 {width: 100%;
height: 100vh;
background-color: black;
position: relative;
background-repeat: no-repeat;
background-position: right;
background-size:contain;
overflow: hidden;}

.menu_img {position: fixed;
    z-index: 49;}

.sec1 .vid {position: absolute;
z-index: 1;}

/* sec1 menu*/
.sec1 .menu {display: flex;
    position: relative;
justify-content: space-between;
z-index: 3;}
.sec1 .menu {position: absolute;
z-index: 9;
top: 0;
left: 0;}
.sec1 .menu  img{}
.sec1 .menu .logo{position: absolute;
right: 0;}


/* sec1 logo*/
.sec1 .logo2 {width: 575px;
height: 180px;
position: absolute;
top: 630px;
right: 0;
z-index: 3;}

.sec1 .logo2 p {display: flex;
justify-content: flex-end;}
.sec1 .logo2 p:nth-child(1) {}
.sec1 .logo2 p:nth-child(2) {width: 100%;
height: 3px;
background-color: #F48924;}
.sec1 .logo2 p:nth-child(3) {}

.sp1 {position: absolute;
    bottom: 0px;
right:0px;
z-index: 3;}

.sp2 {position: absolute;
left: 0px;
bottom: 0px;
z-index: 3;} 

.sp3 {position: absolute;
left: 35%;
bottom: 0px;
z-index: 3;}

.main_page {position: absolute;
background-image: url(../img/main_Page.png);
z-index: 2;
width: 100%;
height: 100%;
background-position: right;
background-repeat: no-repeat;
background-size: contain;
right: 0;
top: 0;}

/* sec2 */
.sec2 {width: 100%;
height: 100vh;
position: fixed;
left: -100%;
top: 0;
display: flex;
justify-content: center;
align-items: center;
background-image: url(../img/space.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
z-index: 50;}

.sec2 .bc1 {position: absolute;
top: 0;
left: 0;
z-index: 1;}


/* sec2 nav */
.sec2 .nav {width: 100%;
z-index: 3;}

.sec2 .nav ul {width: 100%;}

.sec2 .nav li {display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
height: 141px;
background-color: rgba(255, 255, 255, 0.6);
position: relative;
z-index: 2;}

.sec2 .nav li p {z-index: 2;}

.sec2 .nav li p>img {width: 136px;
height: 141px;}

.sec2 .nav li p:nth-child(1) {position: absolute;
left: 65px;}
.sec2 .nav li p:nth-child(3) {position: absolute;
right: 65px;}

.sec2 .nav li:nth-child(1) {}
.sec2 .nav li:nth-child(2) {margin-top: 57px;}
.sec2 .nav li:nth-child(3) {margin-top: 57px;}
.sec2 .nav li:nth-child(4) {margin-top: 57px;} 

.sec2 .nav li:nth-child(1) p:nth-child(2) img {
width: 158px;
height: 59px;}

.sec2 .nav li:nth-child(2) p:nth-child(2) img {
width: 241px;
height: 69px;}

.sec2 .nav li:nth-child(3) p:nth-child(2) img {
width: 275px;
height: 81px;}

.sec2 .nav li:nth-child(4) p:nth-child(2) img {
width: 466px;
height: 76px;}

.sec2 .nav span{
position: absolute;
width: 0px;
height: 100%;
transition: all 0.8s linear;
z-index: 1;}

.sec2 .nav li:nth-child(1):hover span{width: 100%;
background-color: rgba(255, 221, 0, 0.8);}
.sec2 .nav li:nth-child(2):hover span{width: 100%;
background-color: rgba(255, 221, 0, 0.8);}
.sec2 .nav li:nth-child(3):hover span{width: 100%;
background-color: rgba(78, 190, 158, 0.8);}
.sec2 .nav li:nth-child(4):hover span{width: 100%;
background-color: rgba(78, 190, 158, 0.8);}

/* sec2 planet */
.sec2 .planet {position: absolute;
z-index: 0;}

/* sec3  */
.sec3 {width: 100%;
height: 100vh;
display: flex;
position: relative;
z-index: 1;}


.sec3>div {width: 25%;
height: 100%;
z-index: 2;}

.menu_img1 {}

.sec3>div:nth-child(1) {background-color: lightblue;}
.sec3>div:nth-child(2) {background-color: lightgoldenrodyellow;}
.sec3>div:nth-child(3) {background-color: lightcyan;}
.sec3>div:nth-child(4) {background-color: lightcoral;}

.sec3>div {width: 100%;
height: 100%;
display: block;
filter: brightness(50%);}

.sec3>div:nth-child(1)  {background-image: url(../img/character1_2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.sec3>div:nth-child(2)  {background-image: url(../img/character2_2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.sec3>div:nth-child(3)  {background-image: url(../img/character4_2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.sec3>div:nth-child(4)  {background-image: url(../img/character3_2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.sec3>div:hover {filter: brightness(150%);}




.sec3>div ul {}



.sec3>div li:nth-child(1) {display: flex;
justify-content: center;
align-items: center;}

.sec3>div li:nth-child(2) img{width:158px;
height:164px;
position:absolute;
top: 450px;
left: 50%;
margin-left: -75px;}

.sec3>div li:nth-child(3) img{position: absolute;
top:650px;
left: 50%;}

.sec3>div:nth-child(1) ul>li:nth-child(1) img {width: 363px;height: 96px;margin-top: 28px;}
.sec3>div:nth-child(2) ul>li:nth-child(1) img {width: 363px;height: 96px;margin-top: 28px;}
.sec3>div:nth-child(3) ul>li:nth-child(1) img {width: 363px;height: 96px;margin-top: 28px;}
.sec3>div:nth-child(4) ul>li:nth-child(1) img {width: 363px;height: 96px;margin-top: 28px;}


.sec3>div:nth-child(1) ul>li:nth-child(3) img {width: 350px;height: 127px;margin-left: -175px;}
.sec3>div:nth-child(2) ul>li:nth-child(3) img {width: 340px;height: 54px;margin-left: -170px;}
.sec3>div:nth-child(3) ul>li:nth-child(3) img {width: 222px;height: 54px;margin-left: -111px;}
.sec3>div:nth-child(4) ul>li:nth-child(3) img {width: 257px;height: 53px;margin-left: -128.5px;}

.sec3>div li {position: relative;}

.sec3>div li:nth-child(2) {}

.sec3 aside {position: absolute;
z-index: 3;}


.character1 a:target {opacity: 1;}
.sec3 .a_info {position: absolute;
width: 800px;
height: 800px;
margin-left: -400px;
margin-top: -400px;
left: 50%;
top: 50%;
display: none;}

.sec3 .a_info>div>img:nth-child(1) {width: 800px;
height: 800px;}



.sec3 .a_info>div>img:nth-child(2) {
width: 56px;
height: 56px;
position: absolute;
background-color: rgba(255, 255, 255, 0.60);
} 

.sec3 .a_info>div>img:nth-child(3) {position: absolute;
left: 50px;
bottom: 358px;}

.sec3 .a_info>div>img:nth-child(4) {position: absolute;

    left: 60px;
bottom: 209px;}

.sec3 .a_info>div {position: relative;
width: 100%;
height: 100%;}

.sec3 .a_info>div>p{position: absolute;
width: 800px;
bottom: 30px;
left: 50%;
margin-left: -350px;
color: white;
font-weight: bold;
font-size: 18px;
line-height: 35px;}

.sec3 .b_info {position: absolute;
width: 800px;
height: 800px;
margin-left: -400px;
margin-top: -400px;
left: 50%;
top: 50%;
display: none;}

.sec3 .b_info>div>img:nth-child(1) {width: 800px;
height: 800px;}



.sec3 .b_info>div>img:nth-child(2) {
width: 56px;
height: 56px;
position: absolute;
background-color: rgba(255, 255, 255, 0.60);
} 

.sec3 .b_info>div>img:nth-child(3) {position: absolute;
left: 50px;
bottom: 300px;}

.sec3 .b_info>div>img:nth-child(4) {position: absolute;
left: 60px;
bottom: 209px;}

.sec3 .b_info>div {position: relative;
width: 100%;
height: 100%;}

.sec3 .b_info>div>p{position: absolute;
width: 800px;
bottom: 30px;
left: 50%;
margin-left: -350px;
color: white;
font-weight: bold;
font-size: 18px;
line-height: 35px;}

.sec3 .c_info {position: absolute;
width: 800px;
height: 800px;
margin-left: -400px;
margin-top: -400px;
left: 50%;
top: 50%;
display: none;}

.sec3 .c_info>div>img:nth-child(1) {width: 800px;
height: 800px;}



.sec3 .c_info>div>img:nth-child(2) {
width: 56px;
height: 56px;
position: absolute;
background-color: rgba(255, 255, 255, 0.60);
} 

.sec3 .c_info>div>img:nth-child(3) {position: absolute;
left: 30px;
bottom: 300px;}

.sec3 .c_info>div>img:nth-child(4) {position: absolute;

left: 60px;
bottom: 209px;}
.sec3 .c_info>div {position: relative;
width: 100%;
height: 100%;}

.sec3 .c_info>div>p{position: absolute;
width: 800px;
bottom: 30px;
left: 50%;
margin-left: -350px;
color: white;
font-weight: bold;
font-size: 18px;
line-height: 35px;}

.sec3 .d_info {position: absolute;
width: 800px;
height: 800px;
margin-left: -400px;
margin-top: -400px;
left: 50%;
top: 50%;
display: none;}

.sec3 .d_info>div>img:nth-child(1) {width: 800px;
height: 800px;}



.sec3 .d_info>div>img:nth-child(2) {
width: 56px;
height: 56px;
position: absolute;
background-color: rgba(255, 255, 255, 0.60);
} 

.sec3 .d_info>div>img:nth-child(3) {position: absolute;
width: 270px;
height: 280px;
left: 50px;
bottom: 300px;}

.sec3 .d_info>div>img:nth-child(4) {position: absolute;
left: 60px;
bottom: 209px;}

.sec3 .d_info>div {position: relative;
width: 100%;
height: 100%;}

.sec3 .d_info>div>p{position: absolute;
width: 805px;
bottom: 30px;
left: 50%;
margin-left: -350px;
color: white;
font-weight: bold;
font-size: 18px;
line-height: 35px;}

/* gallery */
.gallery {width: 100%;
height: 100vh;
background-color: rgb(69, 134, 134);
overflow: hidden;
position: relative;
z-index: 1;}

.container {height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;}
    
    .border {background: transparent;
    position: relative;}
    
    .border:hover {}
    
    .card {
    height: 500px;
    width: 400px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-left: 5px;
    }
    .card0 {
    background: url(../img/character1_1.png) center center no-repeat;
    background-size: cover;
    }
    .card0:hover {
    background: url(../img/gallery5.png) center no-repeat;
    background-size: cover;
    }
    .card0:hover h2 {
    opacity: 1;
    }
    .card0:hover .fa {
    opacity: 1;
    }
    .card1 {
    background: url(../img/character2_1.png) center center no-repeat;
    background-size: cover;
    }
    .card1:hover {
    background: url(../img/bee.jpg) center no-repeat;
    background-size:   cover;
    }
    .card1:hover h2 {
    opacity: 1;
    }
    .card1:hover .fa {
    opacity: 1;
    }
    .card2 {
    background: url(../img/character5_1.png) center center no-repeat;
    background-size: cover;
    }
    .card2:hover {
    background: url(../img/mega.jpg)  center no-repeat;
    background-size: cover;
    }
    .card2:hover h2 {
    opacity: 1;
    }
    .card2:hover .fa {
    opacity: 1;
    }
    
    .card3 {
    background: url(../img/character6_1.png) center center no-repeat;
    background-size: cover;
    }
    .card3:hover {
    background: url(../img/bar.webp)  center no-repeat;
    background-size: cover;
    }
    .card3:hover h2 {
    opacity: 1;
    }
    .card3:hover .fa {
    opacity: 1;
    }
    
    
    h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    }



/* vid */
.vid {width: 100%;
height: 100vh;
background-color: aqua;
position: relative;
z-index: 1;}
.vid_a {width: 100%;
height: 100%;
z-index: 2;}
.vid_a li {width: 100%;
height: 33.3333%;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 28px;}


.vid_a li:nth-child(1) {background-image: url(../img/vid1.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;}

.vid_a li:nth-child(2) {background-image: url(../img/vid2.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;}

.vid_a li:nth-child(3) {background-image: url(../img/vid3.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;}

.vid_a li div {

width: 100px;
height: 100px;
z-index: 4;
border: 5px solid white;
border-radius: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.vid_a li div i {display: block;
font-size: 50px;
margin-left: 5px;
color: white;
z-index: 4;}




.vid_b {position: absolute;
width: 1200px;
height: 800px;
margin-left: -600px;
margin-top: -400px;
top: 50%;
left: 50%;
background-color: black;
z-index: 10;
display: none;}

.vid_b li {position: absolute;
top: 0;
left: 0;
z-index: 10;
width: 100%;
height: 100%;
display: none;}

.font_x1 img{

    position: absolute;
    right: -1248px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.60);}



.vid_b li video {width: 100%;
height: 100%;}

.vid aside {position: absolute;
top: 0;
left: 0;
}




