@charset "utf-8";
*{margin: 0;padding: 0;}
ul,ol {list-style: none;}
img{vertical-align: bottom;}
a {text-decoration: none;color: black;}

/* sec1 */
.sec1 {width: 100%;
height: 100vh;
background-color: black;
position: relative;
background-repeat: no-repeat;
background-position: right;
background-size:contain;
overflow: hidden;}

.sec1 .vid {position: absolute;
z-index: 1;}
/* sec1 menu*/
.sec1 .menu {display: flex;
    position: relative;
justify-content: space-between;
z-index: 3;}
.sec1 .menu a{position: absolute;
z-index: 9;
top: 0;
left: 0;}
.sec1 .menu a img{}
.sec1 .menu .logo{position: absolute;
right: 0;}


/* sec1 logo*/
.sec1 .logo2 {width: 575px;
height: 180px;
position: absolute;
top: 630px;
right: 0;
z-index: 3;}

.sec1 .logo2 p {display: flex;
justify-content: flex-end;}
.sec1 .logo2 p:nth-child(1) {}
.sec1 .logo2 p:nth-child(2) {width: 100%;
height: 3px;
background-color: #F48924;}
.sec1 .logo2 p:nth-child(3) {}

.sp1 {position: absolute;
    bottom: 0px;
right:0px;
z-index: 3;}

.sp2 {position: absolute;
left: 0px;
bottom: 0px;
z-index: 3;} 

.sp3 {position: absolute;
left: 35%;
bottom: 0px;
z-index: 3;}

.main_page {position: absolute;
background-image: url(../img/main_Page.png);
z-index: 2;
width: 100%;
height: 100%;
background-position: right;
background-repeat: no-repeat;
background-size: contain;
right: 0;
top: 0;}

/* sec2 */
.sec2 {width: 100%;
height: 100vh;

display: flex;
justify-content: center;
align-items: center;
position: relative;
background-image: url(../img/space.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;}

.sec2 .bc1 {position: absolute;
top: 0;
left: 0;
z-index: 1;}


/* sec2 nav */
.sec2 .nav {width: 100%;
z-index: 3;}

.sec2 .nav ul {width: 100%;}

.sec2 .nav li {display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
height: 141px;
background-color: rgba(255, 255, 255, 0.6);
position: relative;
z-index: 2;
cursor: pointer;}

.sec2 .nav li p {z-index: 2;}

.sec2 .nav li p>img {width: 136px;
height: 141px;}

.sec2 .nav li p:nth-child(1) {position: absolute;
left: 65px;}
.sec2 .nav li p:nth-child(3) {position: absolute;
right: 65px;}

.sec2 .nav li:nth-child(1) {}
.sec2 .nav li:nth-child(2) {display: none;}
.sec2 .nav li:nth-child(3) {margin-top: 57px;}
.sec2 .nav li:nth-child(4) {margin-top: 57px;} 
.sec2 .nav li:nth-child(5) {margin-top: 57px;}

.sec2 .nav li:nth-child(1) p:nth-child(2) img {
width: 158px;
height: 59px;}
.sec2 .nav li:nth-child(3) p:nth-child(2) img {
width: 241px;
height: 69px;}
.sec2 .nav li:nth-child(4) p:nth-child(2) img {
width: 275px;
height: 81px;
}
.sec2 .nav li:nth-child(5) p:nth-child(2) img {
width: 466px;
height: 76px;
}

.sec2 .nav span{
position: absolute;
width: 0px;
height: 100%;
transition: all 0.8s linear;
z-index: 1;}

.sec2 .nav li:nth-child(1):hover span{width: 100%;
background-color: rgba(255, 221, 0, 0.8);}
.sec2 .nav li:nth-child(3):hover span{width: 100%;
background-color: rgba(255, 221, 0, 0.8);}
.sec2 .nav li:nth-child(4):hover span{width: 100%;
background-color: rgba(78, 190, 158, 0.8);}
.sec2 .nav li:nth-child(5):hover span{width: 100%;
background-color: rgba(78, 190, 158, 0.8);}

/* sec2 planet */
.sec2 .planet {position: absolute;
z-index: 0;}

/* sec3  */
.sec3 {width: 100%;
height: 100vh;
display: flex;
position: relative;
z-index: 1;}


.sec3>div {width: 25%;
height: 100%;
z-index: 2;}


.sec3>div:nth-child(1) {background-color: lightblue;}
.sec3>div:nth-child(2) {background-color: lightgoldenrodyellow;}
.sec3>div:nth-child(3) {background-color: lightcyan;}
.sec3>div:nth-child(4) {background-color: lightcoral;}

.sec3>div {width: 100%;
height: 100%;
display: block;
filter: brightness(50%);}

.sec3>div:nth-child(1)  {background-image: url(../img/character1_2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
cursor: pointer;}
.sec3>div:nth-child(2)  {background-image: url(../img/character2_2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
cursor: pointer;}
.sec3>div:nth-child(3)  {background-image: url(../img/character4_2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
cursor: pointer;}
.sec3>div:nth-child(4)  {background-image: url(../img/character3_2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
cursor: pointer;}

.sec3>div:hover {filter: brightness(150%);}




.sec3>div ul {}



.sec3>div li:nth-child(1) {display: flex;
justify-content: center;
align-items: center;}

.sec3>div li:nth-child(2) img{width:158px;
height:164px;
position:absolute;
top: 450px;
left: 50%;
margin-left: -75px;}

.sec3>div li:nth-child(3) img{position: absolute;
top:650px;
left: 50%;}

.sec3>div:nth-child(1) ul>li:nth-child(1) img {width: 363px;height: 96px;margin-top: 28px;}
.sec3>div:nth-child(2) ul>li:nth-child(1) img {width: 363px;height: 96px;margin-top: 28px;}
.sec3>div:nth-child(3) ul>li:nth-child(1) img {width: 363px;height: 96px;margin-top: 28px;}
.sec3>div:nth-child(4) ul>li:nth-child(1) img {width: 363px;height: 96px;margin-top: 28px;}


.sec3>div:nth-child(1) ul>li:nth-child(3) img {width: 350px;height: 127px;margin-left: -175px;}
.sec3>div:nth-child(2) ul>li:nth-child(3) img {width: 340px;height: 54px;margin-left: -170px;}
.sec3>div:nth-child(3) ul>li:nth-child(3) img {width: 222px;height: 54px;margin-left: -111px;}
.sec3>div:nth-child(4) ul>li:nth-child(3) img {width: 257px;height: 53px;margin-left: -128.5px;}

.sec3>div li {position: relative;}

.sec3>div li:nth-child(2) {}

.sec3 aside {position: absolute;
z-index: 3;}


.character1 a:target {opacity: 1;}
.sec3 .a_info {position: absolute;
width: 800px;
height: 800px;
margin-left: -400px;
margin-top: -400px;
left: 50%;
top: 50%;
display: none;}

.sec3 .a_info>div>img:nth-child(1) {width: 800px;
height: 800px;}



.sec3 .a_info>div>img:nth-child(2) {
width: 56px;
height: 56px;
position: absolute;
background-color: rgba(255, 255, 255, 0.60);
cursor: pointer;} 

.sec3 .a_info>div>img:nth-child(3) {position: absolute;
left: 50px;
bottom: 358px;}

.sec3 .a_info>div>img:nth-child(4) {position: absolute;

    left: 60px;
bottom: 209px;}

.sec3 .a_info>div {position: relative;
width: 100%;
height: 100%;}

.sec3 .a_info>div>p{position: absolute;
width: 800px;
bottom: 30px;
left: 50%;
margin-left: -350px;
color: white;
font-weight: bold;
font-size: 18px;
line-height: 35px;}

.sec3 .b_info {position: absolute;
width: 800px;
height: 800px;
margin-left: -400px;
margin-top: -400px;
left: 50%;
top: 50%;
display: none;}

.sec3 .b_info>div>img:nth-child(1) {width: 800px;
height: 800px;}



.sec3 .b_info>div>img:nth-child(2) {
width: 56px;
height: 56px;
position: absolute;
background-color: rgba(255, 255, 255, 0.60);
cursor: pointer;} 

.sec3 .b_info>div>img:nth-child(3) {position: absolute;
left: 50px;
bottom: 300px;}

.sec3 .b_info>div>img:nth-child(4) {position: absolute;
left: 60px;
bottom: 209px;}

.sec3 .b_info>div {position: relative;
width: 100%;
height: 100%;}

.sec3 .b_info>div>p{position: absolute;
width: 800px;
bottom: 30px;
left: 50%;
margin-left: -350px;
color: white;
font-weight: bold;
font-size: 18px;
line-height: 35px;}

.sec3 .c_info {position: absolute;
width: 800px;
height: 800px;
margin-left: -400px;
margin-top: -400px;
left: 50%;
top: 50%;
display: none;}

.sec3 .c_info>div>img:nth-child(1) {width: 800px;
height: 800px;}



.sec3 .c_info>div>img:nth-child(2) {
width: 56px;
height: 56px;
position: absolute;
background-color: rgba(255, 255, 255, 0.60);
cursor: pointer;} 

.sec3 .c_info>div>img:nth-child(3) {position: absolute;
left: 30px;
bottom: 300px;}

.sec3 .c_info>div>img:nth-child(4) {position: absolute;

left: 60px;
bottom: 209px;}
.sec3 .c_info>div {position: relative;
width: 100%;
height: 100%;}

.sec3 .c_info>div>p{position: absolute;
width: 800px;
bottom: 30px;
left: 50%;
margin-left: -350px;
color: white;
font-weight: bold;
font-size: 18px;
line-height: 35px;}

.sec3 .d_info {position: absolute;
width: 800px;
height: 800px;
margin-left: -400px;
margin-top: -400px;
left: 50%;
top: 50%;
display: none;}

.sec3 .d_info>div>img:nth-child(1) {width: 800px;
height: 800px;}



.sec3 .d_info>div>img:nth-child(2) {
width: 56px;
height: 56px;
position: absolute;
background-color: rgba(255, 255, 255, 0.60);
cursor: pointer;} 

.sec3 .d_info>div>img:nth-child(3) {position: absolute;
width: 270px;
height: 280px;
left: 50px;
bottom: 300px;}

.sec3 .d_info>div>img:nth-child(4) {position: absolute;
left: 60px;
bottom: 209px;}

.sec3 .d_info>div {position: relative;
width: 100%;
height: 100%;}

.sec3 .d_info>div>p{position: absolute;
width: 805px;
bottom: 30px;
left: 50%;
margin-left: -350px;
color: white;
font-weight: bold;
font-size: 18px;
line-height: 35px;}

/* gallery */
.gallery {width: 100%;
height: 100vh;
background-color: rgb(69, 134, 134);
overflow: hidden;
position: relative;
z-index: 1;}

/* .gallery_on */
.gallery .gallery_on {width: 100%;
height: 100%;
z-index: 2;}
.gallery .gallery_on li {
float: left;
height: 300px;}
.gallery .gallery_on li img {width: 100%;
height: 100%}

.gallery .gallery_on li:nth-child(1) {width: 30%;}
.gallery .gallery_on li:nth-child(2) {width: 40%;}
.gallery .gallery_on li:nth-child(3) {width: 30%;}
.gallery .gallery_on li:nth-child(4) {width: 50%;
height: 380px;}
.gallery .gallery_on li:nth-child(5) {width: 50%;
height: 380px;}
.gallery .gallery_on li:nth-child(6) {width: 60%;}
.gallery .gallery_on li:nth-child(7) {width: 40%;}

.gallery aside {position: absolute;
top: 0;
left: 0;}

.gallery .gallery_on li {filter: brightness(30%);}
.gallery .gallery_on li:hover {filter: brightness(100%);}


/* .hide_gallery */
.gallery .hide_gallery {
    top: 50%;
    left: 50%;
    width: 941px;
    height: 598px;
    margin-left: -470.5px;
    margin-top: -299px;
position: absolute;}

.gallery .hide_gallery ul {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;}

.gallery .hide_gallery li {z-index: 10;
position: absolute;
left: 0;
top: 0;
display: none;}

.gallery .hide_gallery li:nth-child(1) img{
    width: 941px;
    height: 598px;}
.gallery .hide_gallery li:nth-child(2) img {
    width: 941px;
    height: 598px;}
.gallery .hide_gallery li:nth-child(3) img {
    width: 941px;
    height: 598px;}
.gallery .hide_gallery li:nth-child(4) img {
    width: 941px;
    height: 598px;}
.gallery .hide_gallery li:nth-child(5) img {
    width: 941px;
    height: 598px;}
.gallery .hide_gallery li:nth-child(6) img {
    width: 941px;
    height: 598px;}
.gallery .hide_gallery li:nth-child(7) img {
    width: 941px;
    height: 598px;}

.gallery .hide_gallery .font_x {width: 100%;
    height: 100%;
    position: relative;
z-index: 10;}
.gallery .hide_gallery aside img {
    position: absolute;
    right: -56px;
    background-color: rgba(255, 255, 255, 0.60);
    width: 56px;
    height: 56px;
    cursor: pointer;}



/* vid */
.vid {width: 100%;
height: 100vh;
background-color: aqua;
position: relative;}
.vid ul {width: 100%;
height: 100%;}
.vid li {width: 100%;
height: 33.3333%;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 28px;}


.vid li:nth-child(1) {background-color: #F48924;}
.vid li:nth-child(2) {background-color: lightcoral;}
.vid li:nth-child(3) {background-color: lightcyan;}

.vid aside {position: absolute;
top: 0;
left: 0;}