@charset 'utf8';

/* 전체설정 */
*{margin: 0;padding: 0;}
a{text-decoration: none;color: black;}
ul,ol {list-style: none;}
img {vertical-align: bottom;}

/* header */
.header {width: 100%;
height: 100vh;
position: relative;
z-index: 1;
border-bottom: 1px solid #ece0e0;}

/* header header_A */
.header_A {display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 50px;
border-bottom: 1px solid #bbb;}

/* header_A_1_box */
.header_A_box {width: 80%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #bbb;}
/* header header_A_1 */
.header_A_1 {display: flex;
font-size: 18px;}

.header_A_1 a {color: #bbb;
display: flex;
align-items: center;}

.header_A_1 a:nth-child(1) {}
.header_A_1 a:nth-child(2) i{display: flex;
margin-left: 15px;}
.header_A_1 a:nth-child(2) i>p{font-weight: normal;}


/* header header_A_2 */
.header_A_2 {display: flex;
font-size: 18px;}

.header_A_2 a {color: #bbb;}
.header_A_2 a:nth-child(1) {margin-right: 15px;}
.header_A_2 a:nth-child(2) {}

/* header header_B */
.header_B {width: 100%;
height: 50px;
display: flex;
justify-content: center;
margin-top: 60px;
z-index: 10;}

/* header header_B_box */
.header_B_box {width: 80%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;}

/* header header_B_1 */
.header_B_1 {display: flex;
align-items: center;
height: 100%;}

.header_B_1 a {display: flex;
align-items: center;
border: 1px solid #FF8630;
border-radius: 25px;
height: 100%;
padding: 0px 15px;
background-color: #FF8630;
color: white;}

.header_B_1 p {margin-left: 15px;}

/* header header_B_2 */
.header_B_2 {display: flex;
position: relative;
height: 50px;}
.header_B_2 input {border: 1px solid #bbb;
    border-radius: 30px;
padding: 0px 30px;}
.header_B_2 img {width: 20px;height: 20px;
position: absolute;
right: 10px;
top: 50%;
margin-top: -10px;}


/* header header_C */
.header_C {width: 100%;
display: flex;
justify-content: center;
height: 50px;
margin-top: 40px;}

/* header_C_box */
.header_C_box {width: 80%;
display: flex;
justify-content: center;
align-items: center;
position: relative;}

/* header_C_box ul */
.header_C_box ul {display: flex;
justify-content: center;}

/* header_C_box li */
.header_C_box li>a {padding: 0px 20px;}
.header_C_box li>a:hover {color: #FF8630;
font-weight: bold;}

/* header_C_box div */
.header_C_box div {position: absolute;
right: 0;
display: flex;}
.header_C_box div a {display: flex;}
.header_C_box div a>p:nth-child(1) {padding-right: 10px;}
.header_C_box div a>p:nth-child(2) {transform: scaleX(1.5) rotate(90deg);}
.header_C_box div a:hover {color: #FF8630;
    font-weight: bold;}

/*header_C toggle */
.toggle {
    position: relative;}

.toggle a {}

.toggle ul {position: absolute;
display:none;
justify-content: space-between;
flex-wrap: wrap;
padding: 0;
margin: 0;
width: 100px;
float: left;
top: 30px;
border: 1px solid #ece0e0;
}

.toggle li {display: block;
    width: 80px;
padding: 10px;
cursor: pointer;}
.toggle li:nth-child(1) {border-bottom: 1px solid #ece0e0;}
.toggle li:nth-child(2) {border-bottom: 1px solid #ece0e0;}
.toggle li:hover {background-color: antiquewhite;}

    /* header_D */
    .header_D {
    width: 100%;
    height: 100vh;
position: absolute;
z-index: -1;
top: 0;
left: 0;
display: flex;
justify-content: center;}

/* header_D_box */
.header_D_box {width: 80%;
height: 100%;
display: flex;}

/* header_D_box_A */
.header_D_box_A {width: 50%;
    height: 100%;
position: relative;}
/* header_D_box_A_1 */
.header_D_box_A_1 {background-image: url(../img/sub_1.jpg);
width: 100%;
height: 400px;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
position: absolute;
right: 0;
top: 40%;}
/* header_D_box_A_2 */
.header_D_box_A_2 {display: flex;
position: absolute;
bottom: 45px;
left: 170px;}
.header_D_box_A_2 p {font-size: 18px;
color: #bbb;}
.header_D_box_A_2 p:nth-child(1) {}
.header_D_box_A_2 p:nth-child(1) em{font-size: 24px;
font-style: normal;
font-weight: bold;
color: black;}

.header_D_box_A_2 p:nth-child(2) {position: absolute;
width: 1px;
height: 1px;
left: 108.98px;
top: 15px;
border: 2px solid #bbb; 
border-radius: 100%;}

.header_D_box_A_2 p:nth-child(3) {padding-left: 20px;}
.header_D_box_A_2 p:nth-child(3) em{font-size: 24px;
font-style: normal;
font-weight: bold;
color: black;}
.header_D_box_A_2 p:nth-child(3) b {font-weight: normal;
font-size: 24px;}

/* header_D_box_B */
.header_D_box_B {width: 50%;
height: 100%;
position: relative;}

/* header_D_box_B_1 */
.header_D_box_B_1 {width: 480px;
position: absolute;
top: 380px;
right: 200px;
font-size: 28px;}
.header_D_box_B_1 p:nth-child(1) {text-align: end;
    font-weight: bold;}
.header_D_box_B_1 p:nth-child(2) {text-align: end;
    font-weight: bold;}



/* header_D_box_B_2 */
.header_D_box_B_2 {border-top: 1px solid #bbb;
border-bottom: 1px solid #bbb;
padding: 10px;}


/* header_D_box_B count-wrap */

.count-wrap {position: absolute;
padding: 0 38px;
border: 1px solid #ddd;
overflow: hidden;
width: 60px;
bottom: 250px;
right: 200px;}

.count-wrap > button {
border: 0;
background: #ddd;
color: #000;
width: 38px;
height: 38px;
position: absolute;
top: 0;
font-size: 18px;
cursor: pointer;}

.count-wrap > button.minus {left: 0;}

.count-wrap > button.plus {right: 0;}

.count-wrap .inp {border: 0;
height: 38px;
text-align: center;
display: block;
width: 100%;}

/* header_D_sell */
.header_D_sell {display: flex;
position: absolute;
bottom: 180px;
right: 200px;
display: flex;
align-items: center;}
.header_D_sell p {font-weight: bold;}
.header_D_sell p:nth-child(1) {font-size: 18px;
    font-weight: normal;}
.header_D_sell p:nth-child(2) {width: 1px;
height: 16px;
margin-left: 10px;
border-left: 1px solid #bbb;}
.header_D_sell p:nth-child(3) {margin-left: 10px;
    font-size: 28px;}

/* header_D_sell_1 */
.header_D_sell_1 {position: absolute;
bottom: 100px;
right: 200px;
width: 400px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border-radius: 5px;}

.header_D_sell_1  p {width: 100%;
    height: 100%;
font-weight: bold;
color: white;
font-size: 18px;
display:flex;
justify-content: center;
align-items: center;
background-color: rgb(65, 238, 65);
position: relative;
z-index: 1;}
.header_D_sell_1 span {display: block;
background-color: #FF8630;
width: 0%;
height: 100%;
top: 0;
left: 0;
transition: all 0.8s;
position: absolute;
z-index: -1;}
.header_D_sell_1 p:hover span {width: 100%;}
/* header_D_sell_2  */
.header_D_sell_2 {display: flex;
justify-content: space-between;
align-items: center;
position: absolute;
width: 400px;
height: 50px;
bottom: 45px;
right: 200px;}
.header_D_sell_2 p{display: flex;
justify-content: center;
align-items: center;
width: 125px;
height: 49px;
border: 1px solid #bbb;
border-radius: 5px;
font-weight: bold;
color: #313131;
box-shadow: 0px 0px 1px 0px;
position: relative;}
.header_D_sell_2 p:nth-child(1){cursor:pointer;}
.header_D_sell_2 p:nth-child(1) img {width: 25px;
height: 25px;
padding: 5px;}
.header_D_sell_2 p:nth-child(2) {cursor:pointer;}
.header_D_sell_2 p:nth-child(2) img{width: 25px;
height: 25px;
padding: 5px;}
.header_D_sell_2 p:nth-child(3){cursor:pointer;}
.header_D_sell_2 p:nth-child(3) img{width: 25px;
height: 25px;
padding: 5px;}


.header_D_sell_2 span {width: 0px;
left: 0;
height: 100%;
display: block;
background-color: #FF8630;
position: absolute;
z-index: -1;
transition: all 0.8s;
opacity: 0.1;}

.header_D_sell_2 p:hover span{width: 100%;}


/* section */
.section {width: 100%;
height: 2000px;
position: relative;}

/* section sell_box */
.section .sell_box {width: 430px;
height: 600px;
background-color: white;
position: fixed;
top: 0;
right:10px;
z-index: 99999;
border: 1px solid #ddd;
display: none;}

.section .sell_box h2 {padding: 10px 20px;}

.section .sell_box div {display: flex;
justify-content: space-between;
padding: 30px 20px;
font-size: 18px;}

.section .sell_box .sell_box_1 {border-top: 1px solid #ddd;}

.section .sell_box .sell_box_2 {}

.section .sell_box .sell_box_3 {padding: 0px 20px;}

.section .sell_box .sell_box_3 .sell_box_3_box {
    width: 100%;
    border: 1px solid #ece0e0;
}
.section .sell_box .sell_box_3 .sell_box_3_box ul{}
.section .sell_box .sell_box_3 .sell_box_3_box li{}
.section .sell_box .sell_box_3 .sell_box_3_box li:nth-child(1){}
.section .sell_box .sell_box_3 .sell_box_3_box li:nth-child(2){}
.section .sell_box .sell_box_3 .sell_box_3_box li:nth-child(3){
    text-align: end;
}


.section .sell_box .sell_box_5 {padding: 0px 20px;}

.section .sell_box .sell_box_5 div {display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
color: white;
position: relative;
z-index: 1;}

.section .sell_box .sell_box_5 div a {width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items:center;}

.section .sell_box .sell_box_5 div:nth-child(1) {width: 150px;
    height: 20px;
    border: 1px solid #ece0e0;}
.section .sell_box .sell_box_5 div:nth-child(1) img{width: 30px;
height: 30px;
margin-right: 10px;}

.section .sell_box .sell_box_5 div:nth-child(2) {width: 150px;
    height: 20px;
    border: 1px solid #ece0e0;}
.section .sell_box .sell_box_5 div:nth-child(2) img{width: 30px;
    height: 30px;
    margin-right: 10px;}

    .section .sell_box .sell_box_5 div span {width: 0px;
        left: 0;
        height: 100%;
        display: block;
        background-color: #FF8630;
        position: absolute;
        z-index: -1;
        transition: all 0.8s;
        opacity: 0.1;}
    
    .section .sell_box .sell_box_5 div:hover span{width: 100%;}

.section .sell_box .sell_box_6 {padding: 10px 20px;}
.section .sell_box .sell_box_6 div {width: 100%;
    height: 20px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
z-index: 1;
border: 1px solid #ece0e0;}

.section .sell_box .sell_box_6 div a {font-size: 18px;
font-weight: bold;}

.section .sell_box .sell_box_6 div span {width: 0px;
    left: 0;
    height: 100%;
    display: block;
    background-color: #FF8630;
    position: absolute;
    z-index: -1;
    transition: all 0.8s;
    opacity: 0.1;}

.section .sell_box .sell_box_6 div:hover span{width: 100%;}
    
/* section  section_box1 */
.section_box1 {width: 1000px;
height: 2000px;
display: block;
background-color: #FF8630;
position: absolute;
right: 50%;
margin-right: -500px;}

.section_box1_A {width: 100%;}

.section_box1_A div:nth-child(1) {padding-top: 50px;
    text-align: center;}
    .section_box1_A div:nth-child(1) img {height: 200px;}
.section_box1_A div:nth-child(2) {text-align: center;}
.section_box1_A div:nth-child(3) {padding-top: 40px;
text-align: center;
color: white;
font-weight: bold;
font-size: 38px;}
.section_box1_A div:nth-child(4) {text-align: center;}
.section_box1_A div:nth-child(4) img {width: 700px;}

/* section_box1_B */
.section_box1_B {}
.section_box1_B p{text-align: center;}
.section_box1_B p:nth-child(1){padding-top: 100px;
color: #F4FF5C;
font-size: 38px;
font-weight: bold;}
.section_box1_B p:nth-child(2){color: white;
    padding-top: 50px;
font-weight: bold;
font-size: 18px;}
.section_box1_B p:nth-child(3){}
.section_box1_B p:nth-child(3) img {width: 700px;}